
button {
    height: 30px;
    min-width: 40px;
    background-color: seashell;
    font-weight: bold;
    font-size: 20px;
}

.button-menos{
    color: red;
}

.button-mais{
    color: green;
}

.button-blue {
    color:lightblue;
}