.numero{
    font-size: 32px;
    font-weight: bold;
}

.container-contador{
    display: flex;
    padding: 10px;
    width: 300px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

button {
    height: 30px;
    width: 40px;
    background-color: seashell;
    font-weight: bold;
    font-size: 20px;
}

.button-menos{
    color: red;
}

.button-mais{
    color: green;
}