.numero{
    font-size: 32px;
    font-weight: bold;
}

.container-contador{
    display: flex;
    padding: 10px;
    width: 300px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
